        <!DOCTYPE HTML>
<html style= "font-family: monospace;">
<head>
<title>Login Screen</title>
<link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body bgcolor=#d94100>
<h1>Login:</h1>
<form method="post"action="http://localhost:8080/login">
<p>Username:
<input type=text id="user" name="userName">
</p>
<p>Password:
<input type=password id="pass" name="passWord">
<button style= "color:blue;" id="loginBtn"> Login </button>
</p>
</form>
<p id="message" style= "color:DarkRed;background-color:white;"><%=message%> </p>
<p>Don't have an account? <a href="signup.html" style="color:blue">Sign up</a> here.</p>
</body>
</html>
