<h1>This is for adding a video</h1>
<%if(message){ %>
    <%=message%>
<%}%>
<form action = '/addVideo' method="POST">
    <div>
        <label for="newVideoName" >Name of Video</label>
        <input type ="text" id = "videoName" 
        name = "videoName" required></input>
    </div>
    <div>
        <label for="videoDescription">Discrption</label>
        <input type = "text" id ="videoDescription" name = "videoDescription"></input>

    </div>
    <label for="videoLink">Youtube Link</label>
    <input type = "text" id = "videoLink" name = "videoLink" required></input>
    <div>
        <button type="submit">Add video</button>
    </div>
</form>
