<h1>This is for editing Videos</h1>

<%if(message){ %>
    <%=message%>
<%}%>

<form action = '/editVideo' method = "POST">
    <div>
    <div>
        <label for="VdeioName">Video to Edit</label>
        <input type = "text" id="name" name="name" required>
    </div>
    </div>
    <div>
        <labal for="newVideoName">New video Name</labal>
        <input type = "text" id = "newName" name="newName" required>
    </div>
    <div>
        <labal for="newVideoDeiscription">New video Discription</labal>
        <input type = "text" id = "newDiscription" name="newDiscription">
    </div>
    <div>
        <labal for="newVideoName">New video link</labal>
        <input type = "text" id = "newLink" name="newLink">
    </div>
    <div>
        <button type="submit">Edit Video</button>
    </div>

</form>
