<h1>Home Page</h1>
<div>
    <p1>Hello   <%=user.UserID%> welcome to the home page</p1>
</div>


<form action="searchVideo" method="POST">
    <div>
        <div><label>Search Video</label></div>
        <label for="searchInput"></label>
        <input type="text" id="searchVideo" name="searchVideo">
        <button type="Submit">Search</button>
    </div>
</form>

<h2>List of Videos</h2>
<%if (videos){%>
    <%videos.forEach((video)=>{%>
        <a href="/<%=video.id%>">
            <div><%=video.name%></div>
        </a>
<%})}%>
</div>

<% if (user.role === 'Admin') { %>
<h1>Admin tools</h1>
    <form action="/editUser" method="POST">
        <div>
            <label for="UserID">Search User</label>
            <input type = "text" id = "UserID" name ="UserID" required> 
        </div>
        <div> 
            <label for="User Role"> Select role</label>
            <select id="Role" name ="Role">
                <option value="View">Viewer</option>
                <option value="Content Manager"> Content Manager</option>
                <option value="Admin"> Admin</option>
                <option value="Marketing Manager">Marketing Manager</oopion>
            </select>
        </div>
        <div>
            <button type="summit">Search</button>
        </div>
    </form>
  <% } %>

  <%if (user.role === 'Content Manager'){ %>
  <h2>Content Manager Tools</h2>
    <a href="/manageVideo">Manager Videos</a>
  <%}%>
  
  
 <form action="/logout?_method=DELETE" method="POST">
    <button type="submit"> logout</button>
</form>